<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <script src="bundle.js"></script>
    <style>
        html,
        body {
            width: 100%;
            min-height: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        canvas {
            width: 100%;
            height: 100%;
        }
        .container {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
        }

        .left {
            width: 100px;
            height: 100%;
            background-color: bisque;
        }

        .right {
            position: relative;
            flex-grow: 2;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="left"></div>
        <div class="right">
            <canvas id="canvas"></canvas>
        </div>
    </div>
    <script>
        const randomColor = () => {
            const randomized = () => {
                let bit = Math.floor(Math.random() * 255).toString(16);
                if (bit.length === 1) {
                    bit += bit;
                }
                return bit;
            }
            return `#${randomized()}${randomized()}${randomized()}`;
        };

        const randomDate = (offset) => {
            const day = 1000 * 60 * 60 * 24;
            const today = new Date();
            today.setUTCHours(0, today.getTimezoneOffset(), 0, 0);
            today.setDate(today.getDate() + Math.floor(Math.random() * offset) + offset);
            return today.valueOf();
        };

        const canvas = document.getElementById('canvas');
        const gantt = new ganttRenderer.Gantt(canvas);
        gantt.definition = {
            rowHeight: 50,
            columnWidth: 200,
            yOffset: 0,
            collapsible: true,
            highlightedIds: ['110'],
            granularity: 'd',
            colors: {
                itemLabels: 'red',
                links: 'blue',
                highlight: 'white',
            },
            axis: {
                start: new Date('2023-04-11').valueOf(),
                end: new Date('2023-06-11').valueOf()
            },
            shadows: {
                highlight: {
                    blur: 4,
                    color: 'rgba(0, 0, 0, 0.2)'
                }
            }
        };

        const rows = [];
        for (let i = 0; i < 40; i++) {
            const start = randomDate(10);
            const end = randomDate(20);
            let startLabel, endLabel;
            if (Math.random() < 0.2) {
                startLabel = new Intl.DateTimeFormat('en-US', {
                    year: 'numeric',
                    month: 'numeric',
                    day: 'numeric'
                }).format(start);
                endLabel = new Intl.DateTimeFormat('en-US', {
                    year: 'numeric',
                    month: 'numeric',
                    day: 'numeric'
                }).format(end);
            }
            const color = randomColor();
            const row = {
                id: Math.random().toString(),
                label: 'row ' + i,
                item: {
                    label: 'item ' + i,
                    color: color,
                    start: start,
                    end: end,
                    startLabel: startLabel,
                    endLabel: endLabel,
                },
                children: [],
            };
            rows.push(row);

            const randomLen = Math.floor(Math.random() * 4);
            if (randomLen === 3) {
                delete row.item;
            }
            for (let j = 0; j < randomLen; j++) {
                row.children.push({
                    id: Math.random().toString(),
                    label: 'row ' + i + '.' + j,
                    item: {
                        label: 'item ' + i + '.' + j,
                        color: color,
                        start: randomDate(10),
                        end: randomDate(20),
                    },
                    children: [],
                })
            }
        }
        gantt.model = {
            rows: rows,
            milestones: [
                {
                    name: 'today',
                    color: 'red',
                    date: Date.now().valueOf()
                }
            ]
        };
        gantt.model = {
            "milestones": [],
                "rows": [
                    {
                        "id": "66",
                        "label": "Test Task this is a new one that is long and will get cut off and it will be super ab asdf ",
                        "item": {
                            "start": 1681743779000,
                            "end": 1681830179000,
                            "color": "#1a6d2c",
                            "after": ""
                        },
                        "children": []
                    },
                    {
                        "id": "69",
                        "label": "TestTask2",
                        "item": {
                            "start": 1681669732000,
                            "end": 1682696928000,
                            "color": "#c7c7c7",
                            "after": ""
                        },
                        "children": [
                            {
                                "id": "109",
                                "label": "TestTask21",
                                "item": {
                                    "start": 1681798186000,
                                    "end": 1682143786000,
                                    "color": "#5beece",
                                    "after": ""
                                },
                                "children": []
                            },
                            {
                                "id": "110",
                                "label": "TestTask22",
                                "item": {
                                    "start": 1682143786000,
                                    "end": 1682230186000,
                                    "color": "#5beece",
                                    "after": "109"
                                },
                                "children": []
                            },
                            {
                                "id": "111",
                                "label": "TestTask23",
                                "item": {
                                    "start": 1682205742000,
                                    "end": 1682332144000,
                                    "color": "#5beece",
                                    "after": "110"
                                },
                                "children": []
                            }
                        ]
                    },
                    {
                        "id": "112",
                        "label": "TestTask3",
                        "item": {
                            "start": 1682332144000,
                            "end": 1682418544000,
                            "color": "#37c8fd",
                            "after": "111"
                        },
                        "children": [
                            {
                                "id": "113",
                                "label": "TestTask31",
                                "item": {
                                    "start": 1682418544000,
                                    "end": 1682504944000,
                                    "color": "#37c8fd",
                                    "after": "112"
                                },
                                "children": []
                            },
                            {
                                "id": "114",
                                "label": "TestTask32",
                                "item": {
                                    "start": 1682504944000,
                                    "end": 1682591344000,
                                    "color": "#37c8fd",
                                    "after": "113"
                                },
                                "children": [
                                    {
                                        "id": "115",
                                        "label": "TestTask321",
                                        "item": {
                                            "start": 1682591344000,
                                            "end": 1682677744000,
                                            "color": "#37c8fd",
                                            "after": "114"
                                        },
                                        "children": [
                                            {
                                                "id": "116",
                                                "label": "TestTask3211",
                                                "item": {
                                                    "start": 1682677744000,
                                                    "end": 1682764144000,
                                                    "color": "#37c8fd",
                                                    "after": "115"
                                                },
                                                "children": []
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "id": "117",
                        "label": "TestTask3",
                        "item": {
                            "start": 1682301600000,
                            "end": 1682480137000,
                            "color": "#99274f",
                            "after": ""
                        },
                        "children": [
                            {
                                "id": "118",
                                "label": "TestTask31",
                                "item": {
                                    "start": 1682276400000,
                                    "end": 1682362800000,
                                    "color": "#99274f",
                                    "after": ""
                                },
                                "children": []
                            },
                            {
                                "id": "119",
                                "label": "TestTask32",
                                "item": {
                                    "start": 1682362800000,
                                    "end": 1682449200000,
                                    "color": "#99274f",
                                    "after": "118"
                                },
                                "children": [
                                    {
                                        "id": "120",
                                        "label": "TestTask321",
                                        "item": {
                                            "start": 1682276400000,
                                            "end": 1682449922000,
                                            "color": "#99274f",
                                            "after": ""
                                        },
                                        "children": [
                                            {
                                                "id": "121",
                                                "label": "TestTask3211",
                                                "item": {
                                                    "start": 1682276400000,
                                                    "end": 1682362800000,
                                                    "color": "#99274f",
                                                    "after": ""
                                                },
                                                "children": []
                                            },
                                            {
                                                "id": "122",
                                                "label": "TestTask3212",
                                                "item": {
                                                    "start": 1682362800000,
                                                    "end": 1682449200000,
                                                    "color": "#99274f",
                                                    "after": "121"
                                                },
                                                "children": []
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "id": "123",
                        "label": "NewTask",
                        "item": {
                            "start": 1681708604000,
                            "end": 1682757366000,
                            "color": "#c4d0aa",
                            "after": ""
                        },
                        "children": [
                            {
                                "id": "124",
                                "label": "NewTask11",
                                "item": {
                                    "start": 1681710254000,
                                    "end": 1682060602000,
                                    "color": "#c4d0aa",
                                    "after": ""
                                },
                                "children": []
                            },
                            {
                                "id": "125",
                                "label": "NewTask12",
                                "item": {
                                    "start": 1682060602000,
                                    "end": 1682362026000,
                                    "color": "#c4d0aa",
                                    "after": "124"
                                },
                                "children": []
                            },
                            {
                                "id": "126",
                                "label": "NewTask13",
                                "item": {
                                    "start": 1682362026000,
                                    "end": 1682601354000,
                                    "color": "#c4d0aa",
                                    "after": "125"
                                },
                                "children": []
                            },
                            {
                                "id": "127",
                                "label": "NewTask14",
                                "item": {
                                    "start": 1682601354000,
                                    "end": 1682770956000,
                                    "color": "#c4d0aa",
                                    "after": "126"
                                },
                                "children": []
                            },
                            {
                                "id": "128",
                                "label": "NewTask15",
                                "item": {
                                    "start": 1682701200000,
                                    "end": 1682787600000,
                                    "color": "#c4d0aa",
                                    "after": ""
                                },
                                "children": []
                            }
                        ]
                    }
                ]
        }
        gantt.width = canvas.offsetWidth;
        gantt.height = canvas.offsetHeight;

        gantt.on('click', (name, rect, id) => {
            if (name === 'row') {
                const row = ganttRenderer.findById(rows, id);
                if (row && !row.item) {
                    row.collapsed = !row.collapsed;
                    row.collapsedLabel = 'children label!';
                    gantt.invalidate();
                }
            } else {
                console.log(name, rect, id);
            }
        });
        gantt.on('after', (id, after) => {
            console.log('after', id, after);
        });
        gantt.on('timeChange', (id, startDelta, endDelta) => {
            const row = ganttRenderer.findById(gantt.model.rows, id);
            if (row) {
                row.item.start += startDelta;
                row.item.end += endDelta;
                gantt.model = gantt.model;
            }
        });
        window['gantt'] = gantt;
    </script>
</body>

</html>
