<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="bundle.js"></script>
    <style>
        html,
        body {
            width: 100%;
            min-height: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        canvas {
            width: 100%;
            height: 100%;
        }
    </style>
  </head>
  <body>
    <canvas id="canvas"></canvas>
    <script>
        const canvas = document.getElementById('canvas');
        const gantt = new ganttRenderer.Gantt(canvas);
        gantt.definition = {
            rowHeight: 50,
            columnWidth: 200,
            yOffset: 0,
            granularity: 'd',
            axis: {
                start: new Date('2023-04-11').valueOf(),
                end: new Date('2023-06-11').valueOf()
            }
        };
        gantt.model = {
            rows: [
                {
                    id: 'foo',
                    label: 'foo',
                    item: {
                        // label: 'item',
                        color: 'red',
                        start: new Date('2023-04-11').valueOf(),
                        end: new Date('2023-04-22').valueOf(),
                        startLabel: '2023-04-11',
                        endLabel: '2023-04-22',
                    },
                    children: [],
                },
                {
                    id: 'bar',
                    label: 'bar',
                    item: {
                        // label: 'item 2',
                        color: 'blue',
                        start: new Date('2023-04-22').valueOf(),
                        end: new Date('2023-04-25').valueOf(),
                        after: 'foo',
                    },
                    children: [],
                },
            ],
            milestones: [
                {
                    name: 'today',
                    color: 'red',
                    date: Date.now().valueOf()
                }
            ]
        };
        gantt.width = canvas.offsetWidth;
        gantt.height = canvas.offsetHeight;

        gantt.on('click', (...args) => {
            console.log.apply(null, args);
        });
        gantt.on('after', (id, after) => {
            console.log('after', id, after);
        });
        window['gantt'] = gantt;
    </script>
  </body>
</html>
